include LICENSE
include README.md
include CHANGELOG.md
include VERSION
include gigacode.toml.example
recursive-include docs *.rst *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc *.pyo
recursive-exclude tests *
recursive-exclude scripts *
recursive-exclude examplecode *